html {
  font-size: 15px;
}

#juguangdeng{
	
	position:fixed;
	z-index: 300;
	width: 100%;
	left:29%;
	top:5%;
	
}
#flashing{
  position: fixed;
  z-index: 200;
  left:0;
  top:0;
  width: 100%;
  height: 100%;	
  opacity:0.2;
  background-image: linear-gradient(to right, #eb0b0b 0%, #0a2fd2 100%);
}

#geci {
  color: #8b513;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  font-size: 8rem;
  letter-spacing: -0.3rem;
  position: relative;
  opacity:0.55;
}

#geci::after {
  content: attr(data-spotlight);
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: ellipse(100px 100px at 0% 50%);
  clip-path: ellipse(100px 100px at 0% 50%);
  animation: spotlight 1s infinite;
  background-image: url(../img/渐变.jpg);
  background-size: 150%;
  background-position: center center;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes spotlight {
  0% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
  }
  
  50% {
    -webkit-clip-path: ellipse(100px 100px at 100% 50%);
    clip-path: ellipse(100px 100px at 100% 50%);
  }
  
  100% {
    -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
  }
}